@import "tailwindcss";

* {
    @apply m-0 p-0;
}

body {
    @apply w-full h-screen;
}

nav, main, footer, .item-menu {
    @apply w-full;
}

nav, .logo, .menu {
    @apply flex;
}

nav {
    @apply h-[12%] z-[9999] border-b-[3px] border-black/45 bg-[#AE6F16];
}

.logo {
    @apply h-full w-[15%] z-[999] justify-center;
}

.logo img {
    @apply block max-w-full max-h-full object-contain;
}

.logo img:hover {
    @apply scale-125;
}

.menu {
    @apply w-[85%];
}

.item-menu, .item-menu a {
    @apply bg-[#AE6F16] no-underline text-white;
}

.item-menu {
    @apply z-[9999] relative text-center justify-items-center;
}

.item-menu h3 {
    @apply h-full flex items-center justify-center;
}
.sub-item-content h4, .sub-item-content a {
    @apply h-full;
}

.item-menu:hover, .item-menu a:hover {
    @apply bg-[#875612];
}

.item-menu:hover {
    @apply border-l border-r border-black;
}

.sub-item-content, .sub-item {
    @apply w-full h-[80%];
}

.sub-item-content {
    @apply absolute top-full opacity-0 invisible;
}

.sub-item {
    @apply w-full mt-[0.3%] h-full block;
}

.item-menu:hover .sub-item-content {
    @apply opacity-100 visible;
}

main {
    @apply relative h-[calc(100vh-17.3%)] overflow-hidden z-0 bg-[#FAF103];
}

.content {
    @apply h-full w-full border-none overflow-y-auto overflow-x-hidden;
}

footer {
    @apply relative h-[5%] z-[999] bg-[brown] text-white;
}
